h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

p, li {
    font-size: 20px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
}

.stickyHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 32px;
    z-index: 0;
}

.pageStickyHeader {
    display: none;
    visibility: hidden;
    padding: 40px;
    z-index: 0;
}

.activeHeader {
    background-color: black;
    height: 60px;
}