.contactInfo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #4b7d97;
    padding: 10px;
}

.contactSection {
    padding-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
}

.emailLink, .githubLink, .linkedInLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.emailForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}

#dummyframe {
    display: none;
}

.honeypot {
    display: none;
}

input[name='name'], input[name='email'] {
    height: 30px;
    width: 300px;
}

textarea {
    height: 50px;
    width: 300px;
}

button {
    background-color: #a1afbd;
    border: none;
    border-radius: 6px;
    padding: 3px;
    box-shadow: 1px 1px 5px 1px rgba(76, 23, 90);
}


/*#4b7d97
#19394b
#a1afbd
#1e132c
#040c18*/