.contactInfo {
    display: flex;
    justify-content: center;
}

.contactSection {
    padding-top: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
}

.emailLink, .githubLink, .linkedInLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.githubLink, .linkedInLink {
    background-color: #4b7d97;;
}