h4{
    font-size: 22.5px;
}

.experienceSection {
    padding-top: 20px;
    height: 80vh;
}

.experienceContent {
    display: flex;
}

.tools {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.languagesHeader {
    padding-left: 40px;
}

svg {
    height: 60px;
    width: auto;
}