.footer {
    display: flex;
    justify-content: space-around;
    background-color: #4b7d97;
    color: #040c18
}

.footerLinks {
    display: flex;
    gap: 10px;
}

/*#4b7d97
#19394b
#a1afbd
#1e132c
#040c18*/