@font-face {
    font-family: fasthand;
    src: url('../fonts/Fasthand-Regular.ttf');
}

@font-face {
    font-family: player2;
    src: url('../fonts/PressStart2P-Regular.ttf');
}

#headshot {
    height: 500px;
    width: auto;
}

/*.profilePic {
    width: 167px;
    height: 167px;
    border-radius: 50%;
    overflow: hidden;
}*/

.landingPage {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 80vh;
    background-color: rgba(4, 12, 24, 0.5);
}

.intro {
    font-size: 50px;
    font-family: fasthand;
    margin-bottom: 0px;
}

.name {
    font-size: 35px;
    font-family: fasthand;
    margin-top: 0px;
}

.selfTaught {
    font-size: 20px;
    font-family: player2;
}

.landingPageText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}