@font-face {
    font-family: fasthand;
    src: url('../fonts/Fasthand-Regular.ttf');
}

@font-face {
    font-family: player2;
    src: url('../fonts/PressStart2P-Regular.ttf');
}

#headshot {
    height: 500px;
    width: auto;
}

/*.profilePic {
    width: 167px;
    height: 167px;
    border-radius: 50%;
    overflow: hidden;
}*/

.landingPage {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    height: 80vh;
    background-color: rgba(4, 12, 24, 0.5)
}

.intro {
    font-size: 50px;
    font-family: fasthand;
    margin-bottom: 0px;
    /*text-shadow: 3px 3px red*/
}

/*#4b7d97
#19394b
#a1afbd
#1e132c
#040c18*/

.name {
    font-size: 35px;
    font-family: fasthand;
    margin-top: 0px;
    /*text-shadow: 3px 3px red*/
}

.selfTaught {
    font-size: 20px;
    font-family: player2;
    /*text-shadow: 3px 3px red*/
}

.landingPageText {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.typewriter {
    display: inline-block;
}

.selfTaught {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards, blink-caret .75s step-end infinite;
    font-size: 1.6rem;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% {border-color: orange; }
}

.slide-in-one, .slide-in-two {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1000px) {
    #headshot {
        height: 400px;
        width: auto;
    }

    .landingPage {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 15px;
        height: 65vh;
    }

    .landingPageText {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

@media (max-width: 600px) {
    .landingPage {
        display: flex;
        flex-direction: column;
        height: 130vh;
        margin: 80px;
    }
}