.projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    gap: 10px;
}

.projectScreenshot {
    height: 200px;
    width: auto;
}

.projectCardTextContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}